@import "src/stylesheets/css/_colors";

.search_bar {
  margin-top: 25px;

  &__form {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  &__input {
    width: 80%;
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0px 0px 8px 2px $secondary;
    }
  }

  &__label {
    text-align: left;
  }

  &__button {
    box-sizing: border-box;
    border: none;
    width: 20%;
    padding: 15px;
    background: $secondary;
    cursor: pointer;
    transition: box-shadow 0.3s;

    svg {
      width: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      height: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      * {
        fill: white;
      }
    }
    &:focus {
      box-shadow: 0px 0px 8px 2px $secondary;
    }
  }
}
