@import "src/stylesheets/css/_screen-sizes";
.app {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  &__main {
    margin: 90px 0 50px 0;
    @media screen and (max-width: $mobile_max_width) {
      margin: 85px 0 50px 0;
    }
  }

  &__background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__background_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
