$header_size:110px;

.app {
  text-align: center;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  &__header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    height: $header_size;
    width: 100%;
    justify-content: center;
  }

  &__main {
    margin: 110px 0 50px 0;
  }

  &__background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__background_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__search_bar {
    margin-top: 25px;
  }
}
