@import "src/stylesheets/css/_colors";
@import "src/stylesheets/css/_fonts";

html {
  height: 100%;
}

body {
  letter-spacing: 0.03em;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: $primary;
}

div#root {
  height: 100%;
}

input {
  box-sizing:border-box;
  border:none;
  background-image:none;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  padding: 15px;
  width: 100%;
}
